body {
    font-family: Montserrat, sans-serif;
    padding-top: 170px;
}
nav {
    height: 90px;
}
path.line {
    stroke: steelblue;
    fill: none;
}
.line-black {
    fill: none;
}
#explanation {
    position: relative;
    top: 290px;
    left: 185px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
}
#percentage {
    font-size: 4em;
}
.overlay {
    fill: none;
    pointer-events: all;
}
#area {
    opacity: 0.1;
    fill: steelblue;
}
.student-page {
    display: none;
}
.stats-page {
    display: none;
}
#scchart {
    position: relative;
    top: -65px;
    left: -100px;
}
#sunburst {
    position: relative;
    top: -40px;
    left: 3px;
}
.big-score {
    position: relative;
    left: 60px;
    top: 20px;
    height: 300px;
    width: 800px;
    font-size: 75px;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.score-num {
    font-size: 95px;
}
.rank {
    font-size: 35px;
    padding-top: -10px;
    padding-bottom: 20px;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.avatar {
    width: 80px;
}
.chart-score {
    font-size: 25px;
    opacity: 0.9;
    fill: steelblue;
}
.chart-day {
    font-size: 63px;
    opacity: 0.9;
    fill: steelblue;
}
.axis text {
    font: 10px sans-serif;
}
.bar {
    fill: black;
    fill-opacity: .9;
}
.x.axis path {
    display: none;
}
label {
    position: absolute;
    top: 10px;
    right: 10px;
}
#back {
    display: inline-block;
    font-size: 70px;
    color: white;
}
#stats {
    display: inline-block;
    font-size: 30px;
    color: white;
    position: relative;
    left: 120%;
}
#stats:hover {
    transform: scale(1.4);
    font-style: italic;
}
#back:hover {
    transform: scale(1.4);
    font-style: italic;
}
#bar-chart {
    position: relative;
    left: -11%;
}
.status-bar {
    height: 100px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    left: -3%;
}
#name-score {
    width: 1900px;
    font-size: 60px;
    white-space: nowrap;
    overflow: hidden;
}
.fixwidth {
    display: inline-block;
    width: 200px;
}
#main-grade,
#main-rank,
#main-name {
    font-size: 100px;
    color: white;
    background-color: black;
}
#multi-chart {
    position: relative;
    left: -4%;
}
.arc {
    stroke: #fff;
}
#donuts-chart {
    position: relative;
    left: -50px;
    top: 100px;
    width: 1400px;
}
